a {
	text-decoration: none;
}
body {
	background-color: #a1a6af;
	font-family: "Trebuchet MS"
}

.header {
	margin-left: 12%;
	display: grid;
	grid-template-columns: 25% 25% 25%;
	grid-gap: 40px;
}

.meals, .profiles, .categories {
	background-color: #474a50;
}

.dropdownprof, .dropdowncat {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownprof a, .dropdowncat a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdownprof a:hover, .dropdowncat a:hover 
{background-color: #f1f1f1}

.profiles:hover .dropdownprof{
    display: block;
    width: 21.75%;
}

.categories:hover .dropdowncat{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
    width: 30%;
    margin-left: -8.3%;
}

.left, .line {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
}

.line input{
	margin-left: 30%;
}

.pricecat, .servicecat, .locationcat {
	margin-left: 5%;
}

.right {
	margin-left: 20%;
}

#bad {
	margin-left: 20%;
}

.header h1 {
	color: white;
	margin-left: 30%;
	width: 180px;
}

.categories h1 {
	margin-left: 24%;
}

.profiles:hover, .meals:hover, .categories:hover {
	background-color: #141c28;
	transition: 0.2s;
}

.info {
	overflow-y: scroll;
	margin-top: 40px;
	margin-left: 5%;
	width: 90%;
	height: 620px;
	background-color: white;
	border-radius: 5px;
}

.elems {
	display: grid;
	grid-template-rows: 20% 20% 20% 20%;
}

.elem, .hidden {
	margin-top:20px;
	margin-left: 5%;
	width: 90%;
	height: 70px;
	background-color: #d3d7df;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.dish {
	font-size: 23px;
	margin-left: 2%;
	margin-top: 22px;
}

.value {
	margin-left: 25%;
	margin-top: 22px;
}

.hidden {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	margin-top: 0;
	height: 160px;
}

.blockname, .block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.blockname h3{
	 margin-left: 35%;
	 margin-bottom: 0px;
}

.unit {
	padding-top: 4px;
	margin-bottom: 12px;
	margin-left: 28%;
}
.dishb, .restarauntb, .reviewsb {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.restarauntb {
	margin-left: 10%;
}

.reviewsb {
	margin-left: 20%;
}