<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/,.ico">
    <link rel="stylesheet" href="main.css">
    <script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>Meals</title>
</head>

<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="page">
        <div class="header">
            <div class="meals">
                <a href="#"><h1>Meals</h1></a></div>
            <div class="profiles">
                <h1>Profiles</h1>
                <div class="dropdownprof">
                    <a href="#">National</a>
                    <a href="#">Ameriacan</a>
                    <a href="#">Asian</a>
                    <a href="#">Eastern</a></li>
                    <a href="#">Italian</a></li>
                    <a href="#">Exotic</a>
                </div>
            </div>
            <div class="categories">
                <h1>Categories</h1>
                <div class="dropdowncat">
                    <div class="left">
                        <div id="good">Good</div>
                        <div id="normal">Normal</div>
                        <div id="bad">Bad</div>
                    </div>
                    <div class="right">Criterion</div>
                    <div class="line"><input name="gp" type="radio" value="1"><input name="np" type="radio" value="2"><input name="bp" type="radio" value="3"></div>
                    <div class="pricecat">Price cathegory</div>
                    <div class="line"><input name="gs" type="radio" value="1"><input name="ns" type="radio" value="2"><input name="bs" type="radio" value="3"></div>
                    <div class="servicecat">Service</div>
                     <div class="line"><input name="gl" type="radio" value="1"><input name="nl" type="radio" value="2"><input name="bl" type="radio" value="3"></div>
                     <div class="locationcat">Location</div>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="elems">
                <div class="elem" id="opened">
                    <div class="dish">Sushi</div>
                    <div class="value">---------------</div>
                </div>
                <div class="hidden">
                    <div class="blockname">
                        <div class="dishn">
                            <h3>Dish</h3></div>
                        <div class="restarauntn">
                            <h3>Restaraunt</h3></div>
                        <div class="reviewsn">
                            <h3>Reviews</h3></div>
                    </div>
                    <div class="block">
                        <div class="dishb">
                            <div class="unit">Philadelphy</div>
                            <div class="unit">California</div>
                            <div class="unit">...</div>
                        </div>
                        <div class="restarauntb">
                            <div class="unit">Sushitime</div>
                            <div class="unit">Sushicity</div>
                            <div class="unit">...</div>
                        </div>
                        <div class="reviewsb">
                            <div class="unit">5+</div>
                            <div class="unit">3</div>
                            <div class="unit">...</div>
                        </div>
                    </div>
                </div>
                <div class="elem" id="f2">
                    <div class="dish">Soups</div>
                    <div class="value"></div>
                </div>
                <div class="elem" id="f3">
                    <div class="dish">Bourgers</div>
                    <div class="value"></div>
                </div>
                <div class="elem" id="f4">
                    <div class="dish">Kebab</div>
                    <div class="value"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>